<div class="sidenav" [ngClass]="collapsed ? 'sidenav-collapsed' : ''">
  <div class="logo-container">
    <button class="logo" (click)="toggleCollapse()">A</button>
    <div class="logo-text" @fadeInOut *ngIf="collapsed">ATIS</div>
    <button
      class="btn-close"
      @rotate
      *ngIf="collapsed"
      (click)="closeSidenav()"
    >
      <i class="fa fa-times close-icon"></i>
    </button>
  </div>

  <ul class="sidenav-nav">
    <div *ngFor="let data of navData">
      <li class="sidenav-nav-item">
        <a
          class="sidenav-nav-link"
          [routerLink]="[data.routeLink]"
          routerLinkActive="active"
          [routerLinkActiveOptions]="{ exact: collapsed }"
        >
          <i class="sidenav-link-icon" [class]="data.icon"></i>
          <ng-container *ngIf="collapsed">
            <div class="sidenav-link-text" @fadeInOut>
              {{ data.label }}
            </div>
          </ng-container>
        </a>
      </li>
      <ng-container *ngIf="data.subtags && collapsed">
        <li class="sidenav-nav-item subTag" *ngFor="let subTag of data.subtags">
          <a
            class="sidenav-nav-link"
            [routerLink]="[subTag.routeLink]"
            routerLinkActive="active"
          >
            <i
              class="fa fa-fighter-jet sidenav-link-icon"
              aria-hidden="true"
            ></i>
            <div class="sidenav-link-text" @fadeInOut>
              {{ subTag.label }}
            </div>
          </a>
        </li>
      </ng-container>
    </div>

    <li>
      <ng-container *ngIf="collapsed">
        <ng-container *ngIf="isLoggedIn; else elseBlock">
          <div class="logged-in">
            <div class="hello-user">Hello, {{ username }}!</div>
            <button class="sign-out" @fadeInOut (click)="signOut()">
              Sign out
              <i class="fa fa-sign-out" aria-hidden="true"></i>
            </button>
          </div>
        </ng-container>
        <ng-template #elseBlock>
          <a routerLink="/register">
            <button class="btns-login" @fadeInOut>
              Sign In
              <i class="fa fa-sign-in"></i>
            </button>
          </a>
          <a routerLink="/login">
            <button class="btns-login" @fadeInOut>
              Login
              <span
                class="sidenav-link-icon fa fa-solid arrow-right-to-bracket"
              ></span>
            </button>
          </a>
        </ng-template>
      </ng-container>
    </li>
  </ul>
</div>
