/* Import Google font - Poppins */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap");
* {
  font-size: 1vw;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
:host {
  width: 96%;
  height: 100%;
}

.select-box:has(.ng-dirty) {
  background-color: #000080;
}

.select-box:has(select[style="background: rgb(112, 112, 112);"]) {
  background-color: #707070 !important;
}

.select-box:has(.readonly-select) {
  background-color: #707070;
}

.ng-dirty {
  background-color: #000080;
}
select option {
  background-color: white;
  color: #707070;
}

.select-box select[style="background: rgb(112, 112, 112);"] {
  color: white;
}
.grey {
  background-color: #707070 !important;
}
body {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
  background: #455a64;
}

.input-box {
  width: 40%;
  display: flex;
  align-items: center;
  grid-template-columns: max-content max-content;
  grid-gap: 10px;
  caret-color: black;
}
.input-box textarea {
  height: 100%;
  width: 100%;
  outline: none;
  font-size: 1rem;
  color: #ffffff;
  border: 1px solid #ddd;
  border-radius: 6px;
  padding: 0 15px;
  margin: 0.5% 0%;
  resize: none;
  padding: 5px 15px;
}
.textbox {
  height: 50px;
  margin-bottom: 0.5%;
  display: flex;
  align-items: first baseline;
}
.input-box label {
  color: #333;
  width: 23%;
}

#select-div label {
  width: 25%;
}
#select-div .select-box {
  width: 73%;
}

.input-box input {
  position: relative;
  height: 35px;
  width: 100%;
  outline: none;
  font-size: 1rem;
  color: white;
  border: 1px solid #ddd;
  border-radius: 6px;
  padding: 0 15px;
  margin: 0.5% 0%;
  caret-color: black;
}
.input-box input input:focus {
  box-shadow: 0 1px 0 rgba(0, 0, 0, 0.1);
}

:where(.select-box, .select-box-2) {
  position: relative;
  height: 35px;
  width: 70%;
  outline: none;
  font-size: 1rem;
  color: #ffffff;
  border: 1px solid #ddd;
  border-radius: 6px;
  padding: 0 15px;
  margin: 0.5% 0%;
}

.grid {
  display: grid;
  grid-template-columns: repeat(3, 5fr);
  grid-template-rows: repeat(4, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 0px;
}

.grid-item label {
  color: #333;
  width: 100%;
}

.grid input {
  position: relative;
  height: 35px;
  width: 70%;
  outline: none;
  font-size: 1rem;
  color: white;
  margin-right: 10px;
  border: 1px solid #ddd;
  border-radius: 6px;
  padding: 0 15px;
  margin: 0.5% 0%;
  caret-color: black;
}

.grid input:focus {
  box-shadow: 0 1px 0 rgba(0, 0, 0, 0.1);
}

.grid-item {
  display: grid;
  grid-template-columns: 0.32fr 1fr;
  grid-template-rows: 0.5fr;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
}

.grid-item label {
  display: flex;
  align-items: center;
}
.extended-input {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 70%;
}
.extended {
  display: grid;
  grid-template-columns: 0.5fr 0.5fr 0.5fr 0.5fr;
  grid-gap: 0px;
}
.extended-input label {
  margin-left: 2%;
}
.and {
  margin-right: -46.5%;
}

.select-box select,
.select-box-2 select {
  height: 100%;
  width: 100%;
  outline: none;
  border: none;
  color: #707070;
  font-size: 1rem;
}

.select-box .ng-dirty,
.select-box-2 .ng-dirty {
  color: white;
}
.rvr-grid {
  display: grid;
  grid-template-columns: repeat(3, 3fr);
  grid-template-rows: 1fr;
  grid-column-gap: 10%;
  grid-row-gap: 0px;
}

button {
  height: 40px;
  width: 10%;
  margin: 3px;
  color: #eceff1;
  font-size: 1rem;
  font-weight: 400;
  cursor: pointer;
  transition: all 0.2s ease;
  background: #455a64;
  border: 1px solid #ddd;
  border-radius: 6px;
  padding: 0 15px;
}

button:hover,
button:focus {
  background: #78909c;
}
.broadcast {
  float: right;
}

.broadcast-mode-buttons {
  margin-top: 0.5%;
}

select option:checked {
  color: white;
  background-color: #000080;
}
select {
  color: black;
  background-color: white;
}

.select-box .selected {
  background-color: #000080;
}
input[readonly],
textarea[readonly] {
  background-color: #747474 !important;
  color: #dbdbdb !important;
}
.readonly-select {
  background-color: #707070 !important;
  color: white !important;
}
.disabled-button {
  background-color: gray;
  color: white;
  cursor: not-allowed;
}

/*Responsive*/
@media screen and (max-width: 500px) {
  .column {
    flex-wrap: wrap;
  }
}
