<div class="airports">
  <div class="airport-card">
    <div class="airport-image">
      <img src="\assets\EnflThumbnail.png" matTooltip="Test" />
    </div>
    <div class="weather">
      <textarea readonly>{{ weather.ENFL }}</textarea>
    </div>
    <div class="functions">
      <button class="btn" (click)="onMetarRequest('ENFL')">LATEST METAR</button>
      <button class="btn" (click)="onTafRequest('ENFL')">LATEST TAF</button>
      <a href="atis-report/enfl"><button class="btn">ATIS REPORT</button></a>
    </div>
  </div>
  <div class="airport-card">
    <div class="airport-image">
      <img src="\assets\SabeThumbnail.png" />
    </div>
    <div class="weather">
      <textarea readonly>{{ weather.SABE }}</textarea>
    </div>
    <div class="functions">
      <button class="btn" (click)="onMetarRequest('SABE')">LATEST METAR</button>
      <button class="btn" (click)="onTafRequest('SABE')">LATEST TAF</button>
      <a href="atis-report/sabe"><button class="btn">ATIS REPORT</button></a>
    </div>
  </div>
  <div class="airport-card">
    <div class="airport-image">
      <img src="\assets\EvraThumbnail.png" />
    </div>
    <div class="weather">
      <textarea readonly>{{ weather.EVRA }}</textarea>
    </div>
    <div class="functions">
      <button class="btn" (click)="onMetarRequest('EVRA')">LATEST METAR</button>
      <button class="btn" (click)="onTafRequest('EVRA')">LATEST TAF</button>
      <a href="atis-report/evra"><button class="btn">ATIS REPORT</button></a>
    </div>
  </div>
</div>
