:host {
  width: 100%;
  height: 96vh;
}

.airport-card {
  width: 96%;
  height: 12rem;
  padding: 1%;
  background: #fff;
  border-radius: 8px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
  box-sizing: border-box;
  margin-left: 2.6%;
  margin-top: 2.6%;
  display: grid;
  grid-template-columns: 0.5fr 2.4fr 0.5fr;
  grid-template-rows: 1fr;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
}

.airport-image img {
  height: 10.2rem;
  border-radius: 8px;
}

.airport-image {
  display: flex;
  justify-content: center;
}

.airports {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(3, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 0px;
}

.weather {
  display: flex;
  justify-content: center;
}

.weather textarea {
  height: 10rem;
  width: 97%;
  resize: none;
  outline: none;
  font-size: 1rem;
  color: black;
  border: 1px solid #ddd;
  border-radius: 6px;
  padding: 0 15px;
  margin: 0.5% 0%;
  caret-color: black;
}

button {
  height: 40px;
  width: 10rem;
  margin: 3px;
  color: #eceff1;
  font-size: 1rem;
  font-weight: 400;
  cursor: pointer;
  transition: all 0.2s ease;
  background: #455a64;
  border: 1px solid #ddd;
  border-radius: 6px;
  padding: 0 15px;
}

.functions {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}

::-webkit-scrollbar-track {
  -webkit-border-radius: 10px;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  -webkit-border-radius: 10px;
  border-radius: 10px;
  background: rgba(108, 106, 106, 0.3);
}

::-webkit-scrollbar-thumb:window-inactive {
  background: rgba(255, 255, 255, 0.3);
}
