* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

:host {
  width: 96%;
  height: 95%;
}

span {
  font-size: 2rem;
  color: #eceff1;
  font-weight: 500;
  text-align: center;
  margin-top: 5px;
  display: inline-block;
  margin-right: 75%;
}
.container {
  position: relative;
  width: 100%;
  padding: 1%;
  background: #fff;
  border-radius: 8px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
  box-sizing: border-box;
  margin-top: 0.5%;
}

.tabName {
  font-size: 1.5rem;
  color: #eceff1;
}
.grid {
  display: grid;
  grid-template-columns: 10fr;
  grid-template-rows: repeat(2, 0.1fr);
  grid-column-gap: 0px;
  grid-row-gap: 0px;
}

.led-green {
  align-self: center;
  width: 30px;
  height: 30px;
  background-color: #8af168;
  border-radius: 50%;
  box-shadow: rgba(0, 0, 0, 0.2) 0 -1px 7px 1px, inset #304701 0 -1px 9px,
    #8af168 0 2px 12px;
  margin-left: -72%;
}
.led-red {
  align-self: center;
  width: 30px;
  height: 30px;
  background-color: #ec3232;
  border-radius: 50%;
  box-shadow: rgba(0, 0, 0, 0.2) 0 -1px 7px 1px, inset #304701 0 -1px 9px,
    #ec3232 0 2px 12px;
  margin-left: -72%;
}
.lastBroadcast {
  font-size: 1vw;
  color: white;
  margin-top: 3%;
  text-shadow: 0.2px 0.2px 1px rgb(92, 92, 92);
}
.outter-grid {
  display: grid;
  grid-template-columns: 0.7fr repeat(2, 1fr);
  grid-template-rows: 1fr;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
}
.container-title {
  display: flex;
}
.atis-code {
  font-size: 2.2vw;
  color: white;
  font-weight: bold;
  text-shadow: 0.2px 0.2px 1px rgb(92, 92, 92);
}
.red {
  color: rgb(220, 20, 60);
  text-shadow: 0.2px 0.2px 1px rgb(255, 255, 255);
}
.title {
  font-weight: bold;
  text-shadow: 0.2px 0.2px 1px rgb(92, 92, 92);
}

.custom-tab-group {
  margin-top: -15px !important;
}

.icon-button {
  width: 35px;
  height: 35px;
  background-color: #ffffff;
  border-radius: 8px;
  border-style: none;
  box-sizing: border-box;
  cursor: pointer;
  display: inline-block;
  list-style: none;
  margin: 5%;
  transition: color 100ms;
}

.icon-button:hover,
.icon-button:focus {
  background-color: #d6d6d6;
}
.current {
  display: flex;
  align-items: center;
}
.next {
  display: flex;
  align-items: center;
}
