<link
  rel="stylesheet"
  href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
/>
<div class="outter-grid">
  <div class="grid">
    <div class="container-title">
      <span title="Aeroparque Jorge Newbery" class="title">SABE</span>
      <div [ngClass]="state ? 'led-green' : 'led-red'"></div>
    </div>
    <p class="lastBroadcast">Last broadcast: {{ broadcastTime }}</p>
  </div>
  <div class="current">
    <p class="atis-code" [class.red]="isRed">({{ currentCode }}) (Current)</p>
    <button class="icon-button">
      <i class="fa fa-volume-up fa-2x" aria-hidden="true"></i>
    </button>
    <p class="atis-code" [class.red]="isRed">({{ currentCode }}) (Current)</p>
    <button class="icon-button">
      <i class="fa fa-volume-up fa-2x" aria-hidden="true"></i>
    </button>
  </div>
  <div class="next">
    <p class="atis-code">({{ nextCode }}) (Next)</p>
    <button class="icon-button">
      <i class="fa fa-volume-up fa-2x" aria-hidden="true"></i>
    </button>
    <p class="atis-code">({{ nextCode }}) (Next)</p>
    <button class="icon-button">
      <i class="fa fa-volume-up fa-2x" aria-hidden="true"></i>
    </button>
  </div>
</div>
<mat-tab-group class="custom-tab-group">
  <mat-tab>
    <ng-template mat-tab-label>
      <span class="tabName">ATIS Report </span>
    </ng-template>
    <div class="container">
      <app-atis-form-sabe
        (lastBroadcastTime)="getBroadcastTime($event)"
        (isSubscribed)="getSubscribeState($event)"
        (currentBroadcastEnglish)="getCurrentBroadcastEN($event)"
        (nextBroadcastEnglish)="getNextBroadcastEN($event)"
        (currentBroadcastSpanish)="getCurrentBroadcastES($event)"
        (nextBroadcastSpanish)="getNextBroadcastES($event)"
        (currentBroadcastDATIS)="getCurrentBroadcastDATIS($event)"
        (nextBroadcastDATIS)="getNextBroadcastDATIS($event)"
        (currentAtisCode)="getCurrentCode($event)"
        (nextAtisCode)="getNextCode($event)"
      ></app-atis-form-sabe>
    </div>
  </mat-tab>
  <mat-tab>
    <ng-template mat-tab-label>
      <span class="tabName">Overview English </span>
    </ng-template>
    <div class="container">
      <app-overview
        [currentBroadcastEN]="messageEnglish"
        [nextBroadcastEN]="nextMessageEnglish"
      ></app-overview>
    </div>
  </mat-tab>
  <mat-tab>
    <ng-template mat-tab-label>
      <span class="tabName">Overview Spanish </span>
    </ng-template>
    <div class="container">
      <app-overview-es
        [currentBroadcastES]="messageES"
        [nextBroadcastES]="nextMessageES"
      ></app-overview-es>
    </div>
  </mat-tab>
  <mat-tab>
    <ng-template mat-tab-label>
      <span class="tabName">DATIS </span>
    </ng-template>
    <div class="container">
      <app-overview-datis
        [currentBroadcastDATIS]="messageDATIS"
        [nextBroadcastDATIS]="nextMessageDATIS"
      ></app-overview-datis>
    </div>
  </mat-tab>
</mat-tab-group>
