<div class="container">
  <a
    *ngFor="let airport of cardData"
    (click)="clickCard(airport.href)"
    style="text-decoration: none"
  >
    <div class="card">
      <div
        class="card-image"
        [ngStyle]="{ 'background-image': 'url(' + airport.image + ')' }"
      ></div>
      <div class="card-text">
        <h2>{{ airport.title }}</h2>
        <span class="date">{{ airport.subtitle }}</span>
        <br />
        <br />
        <p>Airport type: {{ airport.type }}</p>
        <p>Operator: {{ airport.operator }}</p>
        <p>Serves: {{ airport.serves }}</p>
      </div>
      <div class="card-stats">
        <div class="stat">
          <div class="value">{{ airport.coordinates.latitude }}</div>
        </div>
        <div class="stat border">
          <div class="value">{{ airport.coordinates.longitude }}</div>
        </div>
      </div>
    </div>
  </a>
  <div class="modal-background" *ngIf="showWarning">
    <div class="modal-content">
      <button class="close-button" (click)="closeWarning()">X</button>
      <!-- Close button -->
      <h3>You need to be logged in to view this content!</h3>
      <button class="cancel-button" (click)="closeWarning()">Cancel</button>
    </div>
  </div>
</div>
