<div class="container">
  <a href="atis-report/enfl" style="text-decoration: none">
    <div class="card">
      <div class="card-image"></div>
      <div class="card-text">
        <h2>ENFL</h2>
        <span class="date">Florø Airport Norway</span>
        <br />
        <br />
        <p>Airport type: Public</p>
        <p>Operator: Avinor</p>
        <p>Serves: Florø, Norway</p>
      </div>
      <div class="card-stats">
        <div class="stat">
          <div class="value">61°35′01″N</div>
        </div>
        <div class="stat border">
          <div class="value">005°01′29″E</div>
        </div>
      </div>
    </div>
  </a>
  <a href="atis-report/sabe" style="text-decoration: none">
    <div class="card">
      <div class="card-image-2"></div>
      <div class="card-text">
        <h2>SABE</h2>
        <p class="date">Jorge Newbery Airfield</p>
        <br />
        <br />
        <p>Airport type: Military / Public</p>
        <p>Operator: Aeropuertos Argentina 2000 S.A.</p>
        <p>Serves: Buenos Aires, Argentina</p>
      </div>
      <div class="card-stats">
        <div class="stat">
          <div class="value">34°33′32″S</div>
        </div>
        <div class="stat border">
          <div class="value">058°24′59″W</div>
        </div>
      </div>
    </div>
  </a>
</div>
