<div class="outter-grid">
  <div class="grid">
    <span title="Florø Airport Norway" class="title">ENFL</span>
    <div [ngClass]="state ? 'led-green' : 'led-red'"></div>
    <p class="lastBroadcast">Last broadcast: {{ broadcastTime }}</p>
  </div>

  <p>({{ currentCode }}) (Current)</p>
  <p>({{ nextCode }}) (Next)</p>
</div>
<mat-tab-group class="custom-tab-group">
  <mat-tab>
    <ng-template mat-tab-label>
      <span class="tabName">ATIS Report </span>
    </ng-template>
    <div class="container">
      <app-atis-form
        (lastBroadcastTime)="getBroadcastTime($event)"
        (isSubscribed)="getSubscribeState($event)"
        (currentBroadcast)="getCurrentBroadcast($event)"
        (nextBroadcast)="getNextBroadcast($event)"
        (currentAtisCode)="getCurrentCode($event)"
        (nextAtisCode)="getNextCode($event)"
      ></app-atis-form>
    </div>
  </mat-tab>
  <mat-tab>
    <ng-template mat-tab-label>
      <span class="tabName">Overview </span>
    </ng-template>
    <div class="container">
      <app-overview
        [currentBroadcast]="message"
        [nextBroadcast]="nextMessage"
      ></app-overview>
    </div>
  </mat-tab>
</mat-tab-group>
