<link
  rel="stylesheet"
  href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
/>
<div class="outter-grid">
  <div class="grid">
    <div class="container-title">
      <span title="Florø Airport Norway" class="title">ENFL</span>
      <div [ngClass]="state ? 'led-green' : 'led-red'"></div>
    </div>
    <p class="lastBroadcast">Last broadcast: {{ broadcastTime }}</p>
  </div>
  <div class="current">
    <p class="atis-code" [class.red]="isRed">({{ currentCode }}) (Current)</p>
    <button class="icon-button" (click)="convertTextToSpeech(message, 'en')">
      <i class="fa fa-volume-up fa-2x" aria-hidden="true"></i>
    </button>
  </div>
  <div class="next">
    <p class="atis-code">({{ nextCode }}) (Next)</p>
    <button
      class="icon-button"
      (click)="convertTextToSpeech(nextMessage, 'en')"
    >
      <i class="fa fa-volume-up fa-2x" aria-hidden="true"></i>
    </button>
  </div>
</div>
<mat-tab-group class="custom-tab-group">
  <mat-tab>
    <ng-template mat-tab-label>
      <span class="tabName">ATIS Report </span>
    </ng-template>
    <div class="container">
      <app-atis-form
        (lastBroadcastTime)="getBroadcastTime($event)"
        (isSubscribed)="getSubscribeState($event)"
        (currentBroadcastENGLISH)="getCurrentBroadcast($event)"
        (nextBroadcastENGLISH)="getNextBroadcast($event)"
        (currentAtisCode)="getCurrentCode($event)"
        (nextAtisCode)="getNextCode($event)"
      ></app-atis-form>
    </div>
  </mat-tab>
  <mat-tab>
    <ng-template mat-tab-label>
      <span class="tabName">Overview </span>
    </ng-template>
    <div class="container">
      <app-overview
        [currentBroadcastEN]="message"
        [nextBroadcastEN]="nextMessage"
      ></app-overview>
    </div>
  </mat-tab>
</mat-tab-group>
