<div class="input-box">
  <label>Observation time </label>
  <input
    [(ngModel)]="formAtisFields['obstime'].value"
    name="obstime"
    readonly
  />
</div>
<div class="grid">
  <div class="grid-item">
    <label>Active runway</label>
    <div class="select-box">
      <select
        name="mlr"
        [style.background-color]="
          isChanged['mlr'] == 0
            ? 'white'
            : isChanged['mlr'] == 1
            ? '#000080'
            : isChanged['mlr'] == 2
            ? '#707070'
            : '#DC143C'
        "
        [(ngModel)]="formAtisFields['mlr'].value"
        (ngModelChange)="onInputChange($event, 'mlr')"
        [disabled]="readonlyMode"
        [ngClass]="{ 'readonly-select': readonlyMode }"
      >
        <option></option>
        <option>07</option>
        <option>10</option>
        <option>14</option>
        <option>25</option>
        <option>28</option>
        <option>32</option>
      </select>
    </div>
  </div>
  <div class="grid-item">
    <label>Type of Approach</label>
    <div class="select-box">
      <select
        [(ngModel)]="formAtisFields['apptype'].value"
        (ngModelChange)="onInputChange($event, 'apptype')"
        name="apptype"
        [style.background-color]="
          isChanged['apptype'] == 0
            ? 'white'
            : isChanged['apptype'] == 1
            ? '#000080'
            : isChanged['apptype'] == 2
            ? '#707070'
            : '#DC143C'
        "
        [disabled]="readonlyMode"
        [ngClass]="{ 'readonly-select': readonlyMode }"
      >
        <option></option>
        <option>ILS</option>
        <option>VOR</option>
        <option>NDB</option>
      </select>
    </div>
  </div>
  <div class="grid-item">
    <label>Holding delay</label>
    <input
      [(ngModel)]="formAtisFields['holding'].value"
      name="holding"
      type="text"
      [style.background-color]="
        isChanged['holding'] == 0
          ? 'white'
          : isChanged['holding'] == 1
          ? '#000080'
          : isChanged['holding'] == 2
          ? '#707070'
          : '#DC143C'
      "
      [style.caret-color]="isChanged['holding'] == 0 ? 'black' : 'white'"
      [readonly]="readonlyMode"
      [class.readonly-input]="readonlyMode"
      (keyup)="onInputChange($event)"
    />
  </div>
  <div class="grid-item">
    <label>Transition Level</label>
    <input
      [(ngModel)]="formAtisFields['tl'].value"
      name="tl"
      type="text"
      [style.background-color]="
        isChanged['tl'] == 0
          ? 'white'
          : isChanged['tl'] == 1
          ? '#000080'
          : isChanged['tl'] == 2
          ? '#707070'
          : '#DC143C'
      "
      [style.caret-color]="isChanged['tl'] == 0 ? 'black' : 'white'"
      [readonly]="readonlyMode"
      [class.readonly-input]="readonlyMode"
      (keyup)="onInputChange($event)"
    />
  </div>
  <div class="grid-item">
    <label>Wind direction</label>
    <input
      [(ngModel)]="formAtisFields['mlr.wind.dir'].value"
      type="text"
      name="mlr.wind.dir"
      [style.background-color]="
        isChanged['mlr.wind.dir'] == 0
          ? 'white'
          : isChanged['mlr.wind.dir'] == 1
          ? '#000080'
          : isChanged['mlr.wind.dir'] == 2
          ? '#707070'
          : '#DC143C'
      "
      [style.caret-color]="isChanged['mlr.wind.dir'] == 0 ? 'black' : 'white'"
      [readonly]="readonlyMode"
      [class.readonly-input]="readonlyMode"
      (keyup)="onInputChange($event)"
    />
  </div>
  <div class="grid-item">
    <label>Varying between</label>
    <div class="extended-input">
      <input
        [(ngModel)]="formAtisFields['mlr.wind.var.min'].value"
        name="mlr.wind.var.min"
        type="text"
        [style.background-color]="
          isChanged['mlr.wind.var.min'] == 0
            ? 'white'
            : isChanged['mlr.wind.var.min'] == 1
            ? '#000080'
            : isChanged['mlr.wind.var.min'] == 2
            ? '#707070'
            : '#DC143C'
        "
        [style.caret-color]="
          isChanged['mlr.wind.var.min'] == 0 ? 'black' : 'white'
        "
        [readonly]="readonlyMode"
        [class.readonly-input]="readonlyMode"
        (keyup)="onInputChange($event)"
      />
      <label class="and">and</label>
      <input
        [(ngModel)]="formAtisFields['mlr.wind.var.max'].value"
        type="text"
        name="mlr.wind.var.max"
        [style.background-color]="
          isChanged['mlr.wind.var.max'] == 0
            ? 'white'
            : isChanged['mlr.wind.var.max'] == 1
            ? '#000080'
            : isChanged['mlr.wind.var.max'] == 2
            ? '#707070'
            : '#DC143C'
        "
        [style.caret-color]="
          isChanged['mlr.wind.var.max'] == 0 ? 'black' : 'white'
        "
        [readonly]="readonlyMode"
        [class.readonly-input]="readonlyMode"
        (keyup)="onInputChange($event)"
      />
    </div>
  </div>
  <div class="grid-item">
    <label>Wind speed</label>
    <div class="extended-input">
      <input
        [(ngModel)]="formAtisFields['mlr.wind.speed'].value"
        name="mlr.wind.speed"
        type="text"
        [style.background-color]="
          isChanged['mlr.wind.speed'] == 0
            ? 'white'
            : isChanged['mlr.wind.speed'] == 1
            ? '#000080'
            : isChanged['mlr.wind.speed'] == 2
            ? '#707070'
            : '#DC143C'
        "
        [style.caret-color]="
          isChanged['mlr.wind.speed'] == 0 ? 'black' : 'white'
        "
        [readonly]="readonlyMode"
        [class.readonly-input]="readonlyMode"
        (keyup)="onInputChange($event)"
      />
      <label>kt</label>
    </div>
  </div>
  <div class="grid-item">
    <label>Gusting To</label>
    <div class="extended-input">
      <input
        [(ngModel)]="formAtisFields['mlr.wind.gusts'].value"
        name="mlr.wind.gusts"
        type="text"
        [style.background-color]="
          isChanged['mlr.wind.gusts'] == 0
            ? 'white'
            : isChanged['mlr.wind.gusts'] == 1
            ? '#000080'
            : isChanged['mlr.wind.gusts'] == 2
            ? '#707070'
            : '#DC143C'
        "
        [style.caret-color]="
          isChanged['mlr.wind.gusts'] == 0 ? 'black' : 'white'
        "
        [readonly]="readonlyMode"
        [class.readonly-input]="readonlyMode"
        (keyup)="onInputChange($event)"
      />

      <label>kt</label>
    </div>
  </div>
</div>
<div class="input-box">
  <label>Visibility</label>
  <input
    [(ngModel)]="formAtisFields['visibility'].value"
    name="visibility"
    type="text"
    [style.background-color]="
      isChanged['visibility'] == 0
        ? 'white'
        : isChanged['visibility'] == 1
        ? '#000080'
        : isChanged['visibility'] == 2
        ? '#707070'
        : '#DC143C'
    "
    [style.caret-color]="isChanged['visibility'] == 0 ? 'black' : 'white'"
    [readonly]="readonlyMode"
    [class.readonly-input]="readonlyMode"
    (keyup)="onInputChange($event)"
  />
</div>
<div class="input-box">
  <label>RVR</label>
  <input
    [(ngModel)]="formAtisFields['rvr'].value"
    name="rvr"
    type="text"
    [style.background-color]="
      isChanged['rvr'] == 0
        ? 'white'
        : isChanged['rvr'] == 1
        ? '#000080'
        : isChanged['rvr'] == 2
        ? '#707070'
        : '#DC143C'
    "
    [style.caret-color]="isChanged['rvr'] == 0 ? 'black' : 'white'"
    [readonly]="readonlyMode"
    [class.readonly-input]="readonlyMode"
    (keyup)="onInputChange($event)"
  />
</div>
<div class="input-box">
  <label>Present weather</label>
  <input
    [(ngModel)]="formAtisFields['presentweather'].value"
    name="presentweather"
    type="text"
    [style.background-color]="
      isChanged['presentweather'] == 0
        ? 'white'
        : isChanged['presentweather'] == 1
        ? '#000080'
        : isChanged['presentweather'] == 2
        ? '#707070'
        : '#DC143C'
    "
    [style.caret-color]="isChanged['presentweather'] == 0 ? 'black' : 'white'"
    [readonly]="readonlyMode"
    [class.readonly-input]="readonlyMode"
    (keyup)="onInputChange($event)"
  />
</div>
<div class="input-box">
  <label> Clouds</label>
  <input
    [(ngModel)]="formAtisFields['clouds'].value"
    name="clouds"
    type="text"
    [style.background-color]="
      isChanged['clouds'] == 0
        ? 'white'
        : isChanged['clouds'] == 1
        ? '#000080'
        : isChanged['clouds'] == 2
        ? '#707070'
        : '#DC143C'
    "
    [style.caret-color]="isChanged['clouds'] == 0 ? 'black' : 'white'"
    [readonly]="readonlyMode"
    [class.readonly-input]="readonlyMode"
    (keyup)="onInputChange($event)"
  />
</div>
<div class="temperature-related-grid">
  <div class="temp-grid-item-1">
    <label>Temperature</label>
    <input
      [(ngModel)]="formAtisFields['temperature'].value"
      name="temperature"
      type="text"
      [style.background-color]="
        isChanged['temperature'] == 0
          ? 'white'
          : isChanged['temperature'] == 1
          ? '#000080'
          : isChanged['temperature'] == 2
          ? '#707070'
          : '#DC143C'
      "
      [style.caret-color]="isChanged['temperature'] == 0 ? 'black' : 'white'"
      [readonly]="readonlyMode"
      [class.readonly-input]="readonlyMode"
      (keyup)="onInputChange($event)"
    />
  </div>
  <div class="temp-grid-item-2">
    <label>Dewpoint</label>
    <input
      [(ngModel)]="formAtisFields['dewpoint'].value"
      name="dewpoint"
      type="text"
      [style.background-color]="
        isChanged['dewpoint'] == 0
          ? 'white'
          : isChanged['dewpoint'] == 1
          ? '#000080'
          : isChanged['dewpoint'] == 2
          ? '#707070'
          : '#DC143C'
      "
      [style.caret-color]="isChanged['dewpoint'] == 0 ? 'black' : 'white'"
      [readonly]="readonlyMode"
      [class.readonly-input]="readonlyMode"
      (keyup)="onInputChange($event)"
    />
  </div>
  <div class="temp-grid-item-3">
    <label>QNH</label>
    <input
      [(ngModel)]="formAtisFields['pressure'].value"
      name="pressure"
      type="text"
      [style.background-color]="
        isChanged['pressure'] == 0
          ? 'white'
          : isChanged['pressure'] == 1
          ? '#000080'
          : isChanged['pressure'] == 2
          ? '#707070'
          : '#DC143C'
      "
      [style.caret-color]="isChanged['pressure'] == 0 ? 'black' : 'white'"
      [readonly]="readonlyMode"
      [class.readonly-input]="readonlyMode"
      (keyup)="onInputChange($event)"
    />
  </div>
  <div class="temp-grid-item-4">
    <label>QFE</label>
    <input
      [(ngModel)]="formAtisFields['qfe'].value"
      name="qfe"
      type="text"
      [style.background-color]="
        isChanged['qfe'] == 0
          ? 'white'
          : isChanged['qfe'] == 1
          ? '#000080'
          : isChanged['qfe'] == 2
          ? '#707070'
          : '#DC143C'
      "
      [style.caret-color]="isChanged['qfe'] == 0 ? 'black' : 'white'"
      [readonly]="readonlyMode"
      [class.readonly-input]="readonlyMode"
      [readonly]="readonlyMode"
      [class.readonly-input]="readonlyMode"
      (keyup)="onInputChange($event)"
    />
  </div>
</div>

<div class="input-box textbox">
  <label>Freetext</label>
  <textarea
    [(ngModel)]="formAtisFields['freetext'].value"
    name="freetext"
    [style.background-color]="
      isChanged['freetext'] == 0
        ? 'white'
        : isChanged['freetext'] == 1
        ? '#000080'
        : isChanged['freetext'] == 2
        ? '#707070'
        : '#DC143C'
    "
    [style.caret-color]="isChanged['freetext'] == 0 ? 'black' : 'white'"
    [readonly]="readonlyMode"
    [class.readonly-input]="readonlyMode"
    (keyup)="onInputChange($event)"
  ></textarea>
</div>
<div class="input-box" id="select-div">
  <label>Fixedtext</label>
  <div class="select-box">
    <select
      [(ngModel)]="formAtisFields['fixedtext'].value"
      name="fixedtext"
      [style.background-color]="
        isChanged['fixedtext'] == 0
          ? 'white'
          : isChanged['fixedtext'] == 1
          ? '#000080'
          : '#707070'
      "
      (ngModelChange)="onInputChange($event, 'fixedtext')"
      [disabled]="readonlyMode"
      [ngClass]="{ 'readonly-select': readonlyMode }"
    >
      <option hidden>Runway</option>
      <option>INITIAL CLEARED ALTITUDE 4000 FEET</option>
      <option>GROUND FREQUENCY 132.60</option>
      <option>BIRD ACTIVITY NORTHEAST OF THRESHOLD RWY11</option>
    </select>
  </div>
</div>
<div class="broadcast-mode-buttons">
  <label>Broadcast mode</label>
  <br />
  <button (click)="manualMode()">Manual</button>
  <button (click)="semiAutoMode()">SemiAuto</button>
  <button (click)="autoMode()">Auto</button>
  <button
    class="broadcast"
    (click)="sendBroadcastMessage()"
    [disabled]="isBroadcastBtnDisabled"
    [ngClass]="{ 'disabled-button': isBroadcastBtnDisabled }"
  >
    Broadcast
  </button>
</div>
