<div class="input-box">
  <label>Observation time </label>
  <input
    [(ngModel)]="formAtisFields.obstime.value"
    name="obstime"
    #obstime="ngModel"
    [style.background]="
      !obstime.dirty ? 'white' : isChanged['obstime'] ? '#000080' : '#DC143C'
    "
    [style.color]="isChanged['obstime'] ? 'white' : 'white'"
    (keyup)="onInputChange($event)"
  />
</div>
<div class="grid">
  <div class="grid-item">
    <label>Active runway</label>
    <div class="select-box">
      <select
        name="activeRunway"
        [(ngModel)]="formAtisFields.activeRunway.value"
        (ngModelChange)="onInputChange($event, 'activeRunway')"
      >
        <option></option>
        <option>07</option>
        <option>10</option>
        <option>14</option>
        <option>25</option>
        <option>28</option>
        <option>32</option>
      </select>
    </div>
  </div>
  <div class="grid-item">
    <label>Type of Approach</label>
    <div class="select-box">
      <select
        [(ngModel)]="formAtisFields.apptype.value"
        (ngModelChange)="onInputChange($event, 'apptype')"
      >
        <option></option>
        <option>ILS</option>
        <option>VOR</option>
        <option>NDB</option>
      </select>
    </div>
  </div>
  <div class="grid-item">
    <label>Holding delay</label>
    <input
      [(ngModel)]="formAtisFields.holding.value"
      name="holding"
      #holding="ngModel"
      type="text"
      [style.background]="
        !visibility.dirty
          ? 'white'
          : isChanged['holding']
          ? '#000080'
          : '#DC143C'
      "
      [style.color]="isChanged['holding'] ? 'white' : 'white'"
      (keyup)="onInputChange($event)"
    />
  </div>
  <div class="grid-item">
    <label>Transition Level</label>
    <input
      [(ngModel)]="formAtisFields.tl.value"
      type="text"
      #tl="ngModel"
      [style.background]="
        !tl.dirty ? 'white' : isChanged['tl'] ? '#000080' : '#DC143C'
      "
      [style.color]="isChanged['tl'] ? 'white' : 'white'"
      (keyup)="onInputChange($event)"
    />
  </div>
  <div class="grid-item">
    <label>Wind direction</label>
    <input
      [(ngModel)]="formAtisFields['mrl.wind.dir'].value"
      type="text"
      placeholder="Enter wind direction"
      [style.background]="
        isChanged['mrl.wind.dir.value'] ? '#000080' : '#DC143C'
      "
      [style.color]="isChanged['mrl.wind.dir.value'] ? 'white' : 'white'"
      (keyup)="onInputChange($event)"
    />
  </div>
  <div class="grid-item">
    <label>Varying between</label>
    <div class="extended-input">
      <input
        [(ngModel)]="formAtisFields['mrl.wind.var.min.value']"
        type="text"
        placeholder="..."
        [style.background]="
          isChanged['mrl.wind.var.min.value'] ? '#000080' : '#DC143C'
        "
        [style.color]="isChanged['mrl.wind.var.min.value'] ? 'white' : 'white'"
        (keyup)="onInputChange($event)"
      />
      <label class="and">and</label>
      <input
        [(ngModel)]="formAtisFields['mrl.wind.var.max.value']"
        type="text"
        placeholder="..."
        [style.background]="
          isChanged['mrl.wind.var.max.value'] ? '#000080' : '#DC143C'
        "
        [style.color]="isChanged['mrl.wind.var.max.value'] ? 'white' : 'white'"
        (keyup)="onInputChange($event)"
      />
    </div>
  </div>
  <div class="grid-item">
    <label>Wind speed</label>
    <div class="extended-input">
      <input
        [(ngModel)]="formAtisFields['mrl.wind.gusts.value']"
        name="holding"
        type="text"
        placeholder="Enter wind speed"
        [style.background]="
          isChanged['mrl.wind.gusts.value'] ? '#000080' : '#DC143C'
        "
        [style.color]="isChanged['mrl.wind.gusts.value'] ? 'white' : 'white'"
        (keyup)="onInputChange($event)"
      />
      <label>kt</label>
    </div>
  </div>
  <div class="grid-item">
    <label>Gusting To</label>
    <div class="extended-input">
      <input
        type="text"
        placeholder="..."
        [style.background]="isChanged ? '#000080' : '#DC143C'"
        [style.color]="isChanged ? 'white' : 'white'"
        (keyup)="onInputChange($event)"
      />

      <label>kt</label>
    </div>
  </div>
</div>
<div class="input-box">
  <label>Visibility</label>
  <input
    [(ngModel)]="formAtisFields.visibility.value"
    name="visibility"
    #visibility="ngModel"
    type="text"
    [style.background]="
      !visibility.dirty
        ? 'white'
        : isChanged['visibility']
        ? '#000080'
        : '#DC143C'
    "
    [style.color]="isChanged['visibility'] ? 'white' : 'white'"
    (keyup)="onInputChange($event)"
  />
</div>
<div class="input-box">
  <label>RVR</label>
  <input
    [(ngModel)]="formAtisFields.rvr.value"
    name="rvr"
    #rvr="ngModel"
    type="text"
    [style.background]="
      !rvr.dirty ? 'white' : isChanged['rvr'] ? '#000080' : '#DC143C'
    "
    [style.color]="isChanged['rvr'] ? 'white' : 'white'"
    (keyup)="onInputChange($event)"
  />
</div>
<div class="input-box">
  <label>Present weather</label>
  <input
    [(ngModel)]="formAtisFields.presentweather.value"
    name="presentweather"
    #presentweather="ngModel"
    type="text"
    [style.background]="
      !presentweather.dirty
        ? 'white'
        : isChanged['presentweather']
        ? '#000080'
        : '#DC143C'
    "
    [style.color]="isChanged['presentweather'] ? 'white' : 'white'"
    (keyup)="onInputChange($event)"
  />
</div>
<div class="input-box">
  <label> Clouds</label>
  <input
    [(ngModel)]="formAtisFields.clouds.value"
    name="clouds"
    #clouds="ngModel"
    type="text"
    [style.background]="
      !clouds.dirty
        ? 'white'
        : isChanged['presentweather']
        ? '#000080'
        : '#DC143C'
    "
    [style.color]="isChanged['clouds'] ? 'white' : 'white'"
    (keyup)="onInputChange($event)"
  />
</div>
<div class="temperature-related-grid">
  <div class="temp-grid-item-1">
    <label>Temperature</label>
    <input
      [(ngModel)]="formAtisFields.temperature.value"
      name="temperature"
      #temperature="ngModel"
      type="text"
      [style.background]="
        !temperature.dirty
          ? 'white'
          : isChanged['temperature']
          ? '#000080'
          : '#DC143C'
      "
      [style.color]="isChanged['temperature'] ? 'white' : 'white'"
      (keyup)="onInputChange($event)"
    />
  </div>
  <div class="temp-grid-item-2">
    <label>Dewpoint</label>
    <input
      [(ngModel)]="formAtisFields.dewpoint.value"
      name="dewpoint"
      #dewpoint="ngModel"
      type="text"
      [style.background]="
        !dewpoint.dirty
          ? 'white'
          : isChanged['dewpoint']
          ? '#000080'
          : '#DC143C'
      "
      [style.color]="isChanged['dewpoint'] ? 'white' : 'white'"
      (keyup)="onInputChange($event)"
    />
  </div>
  <div class="temp-grid-item-3">
    <label>QNH</label>
    <input
      [(ngModel)]="formAtisFields.qnh.value"
      #qnh="ngModel"
      type="text"
      [style.background]="
        !qnh.dirty ? 'white' : isChanged['qnh'] ? '#000080' : '#DC143C'
      "
      [style.color]="isChanged['qnh'] ? 'white' : 'white'"
      (keyup)="onInputChange($event)"
    />
  </div>
  <div class="temp-grid-item-4">
    <label>QFE</label>
    <input
      [(ngModel)]="formAtisFields.qfe.value"
      name="qfe"
      #qfe="ngModel"
      type="text"
      [style.background]="
        !qfe.dirty ? 'white' : isChanged['qfe'] ? '#000080' : '#DC143C'
      "
      [style.color]="isChanged['qfe'] ? 'white' : 'white'"
      (keyup)="onInputChange($event)"
    />
  </div>
</div>

<div class="input-box textbox">
  <label>Freetext</label>
  <textarea
    [(ngModel)]="formAtisFields.freetext.value"
    #freetext="ngModel"
    [style.background]="
      !freetext.dirty ? 'white' : isChanged['freetext'] ? '#000080' : '#DC143C'
    "
    [style.color]="isChanged['freetext'] ? 'white' : 'white'"
    (keyup)="onInputChange($event)"
  ></textarea>
</div>
<div class="input-box" id="select-div">
  <label>Fixedtext</label>
  <div class="select-box" [ngClass]="{ selected: isOptionSelected }">
    <select
      [(ngModel)]="formAtisFields.fixedtext.value"
      [ngClass]="{ selected: isOptionSelected }"
      (ngModelChange)="onInputChange($event, 'fixedtext')"
    >
      <option hidden>Runway</option>
      <option>INITIAL CLEARED ALTITUDE 4000 FEET</option>
      <option>GROUND FREQUENCY 132.60</option>
      <option>BIRD ACTIVITY NORTHEAST OF THRESHOLD RWY11</option>
    </select>
  </div>
</div>
<div class="broadcast-mode-buttons">
  <label>Broadcast mode</label>
  <br />
  <button>Manual</button>
  <button>SemiAuto</button>
  <button>Auto</button>
  <button class="broadcast" (click)="sendBroadcastMessage()">Broadcast</button>
</div>
