.body {
  width: calc(100% - 4vw);
  height: auto;
  margin-left: 4vw;
  z-index: 0;
  position: relative;
  top: 0;
  transition: all 0.5s ease;
  background: #f4f7fa;
  padding-top: 10px !important;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
  background: #607d8b;
}

:host {
  padding-top: 10px;
}

.body-trimmed {
  width: calc(100% - 10rem);
  margin-left: 10rem;
}
.body-trimmed-atis {
  width: calc(100% - 16.123rem);
  margin-left: 16.123rem;
}
.body-md-screen {
  width: calc(100% - 5rem);
  margin-left: 5rem;
}
